@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/MaterialSymbolsOutlined-Regular.ttf') format('truetype');
}

@theme {
  --font-ibm-plex-mono: 'IBM Plex Mono', 'monospace';

  /* Color scheme for light theme */
  --color-background-main: var(--color-neutral-50);
  --color-background-accent: var(--color-neutral-100);
  --color-primary: var(--color-neutral-600);
  --color-primary-highlight: var(--color-neutral-800);
  --color-accent: var(--color-cyan-600);
  --color-accent-darker: var(--color-cyan-800);
}

@layer theme {
  .dark {
    /* Color scheme for dark theme */
    --color-background-main: var(--color-neutral-900);
    --color-background-accent: var(--color-neutral-800);
    --color-primary: var(--color-neutral-400);
    --color-primary-highlight: var(--color-neutral-300);
    --color-accent: var(--color-cyan-400);
    --color-accent-darker: var(--color-cyan-600);
  }
}

.code-brackets::before {
  content: '< ';
  color: var(--color-accent);
}
.code-brackets::after {
  content: ' />';
  color: var(--color-accent);
}

div[section] > h2::before {
  content: '#';
  margin-right: .4rem;
  color: var(--color-accent);
  /* text-3xl class from tailwind */
  font-size: var(--text-3xl) /* 2.25rem = 30px */;
  line-height: var(
    --tw-leading,
    var(--text-3xl--line-height) /* calc(2.5 / 2.25) ≈ 1.1111 */
  );
}

div[section] > h2 {
  position: relative;
  color: var(--color-primary-highlight);
  /* text-4xl class from tailwind */
  font-size: var(--text-4xl) /* 2.25rem = 36px */;
  line-height: var(
    --tw-leading,
    var(--text-4xl--line-height) /* calc(2.5 / 2.25) ≈ 1.1111 */
  );
}

div[section] > h2::after {
  border-radius: 6px;
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  background-color: var(--color-accent);
  width: 6rem;
  height: 0.2rem;
  box-shadow: 0 1px 4px var(--color-accent);
}

div[section] > h2 ~ * {
  padding: 0 1rem;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: var(--text-5xl) /* 3rem = 48px */;
  line-height: var(--tw-leading, var(--text-5xl--line-height) /* 1 */);
  color: var(--color-primary-highlight);
}

h2 {
  font-size: var(--text-4xl);
  line-height: var(--tw-leading, var(--text-4xl--line-height) /* 1 */);
  color: var(--color-primary-highlight);
}

h3 {
  font-size: var(--text-3xl);
  line-height: var(--tw-leading, var(--text-3xl--line-height) /* 1 */);
  color: var(--color-primary-highlight);
}

h4 {
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height) /* 1 */);
  color: var(--color-primary-highlight);
}
